<a href="https://colab.research.google.com/github/Andersonsstr/Curso-Alura-Machine-Learning/blob/main/Introdu%C3%A7%C3%A3o_Pandas_e_SKLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
#Capturando um CSV
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [4]:
#Mapeando as nomenclaturas das colunas para deixar com os nomes mais amigáveis
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

In [6]:
#Efetuando a troca de nomes
dados = dados.rename(columns = mapa)

In [8]:
#Separandos os conjuntos de dados manualmente para treino e teste
x = dados[["principal","como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [7]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

#Separando Treino e Teste Manualmente

In [10]:
#99 linhas e 4 colunas
dados.shape

(99, 4)

In [14]:
#:75 pega até a linha 75 e 75: pega após a linha 75
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [15]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [16]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [17]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

In [18]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

#Separando Treino e Teste com biblioteca do SKLearn