<a href="https://colab.research.google.com/github/Andersonsstr/Curso-Alura-Machine-Learning/blob/main/Introdu%C3%A7%C3%A3o_Pandas_e_SKLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [2]:
#Capturando um CSV
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
#Mapeando as nomenclaturas das colunas para deixar com os nomes mais amigáveis
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

In [4]:
#Efetuando a troca de nomes
dados = dados.rename(columns = mapa)

In [5]:
#Separandos os conjuntos de dados manualmente para treino e teste
x = dados[["principal","como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [6]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

#Separando Treino e Teste Manualmente

In [7]:
#99 linhas e 4 colunas
dados.shape

(99, 4)

In [8]:
#:75 pega até a linha 75 e 75: pega após a linha 75
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [9]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [10]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

In [11]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

#Separando Treino e Teste com biblioteca do SKLearn

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [13]:
#Essa variável determina a aleatoriedade dos dados, se não for definida o Random States não vai ter resultados fixos
SEED = 20

In [14]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 74 elementos e testaremos com 25 elementos

In [15]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

In [16]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [17]:
#Proporção desigual
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [18]:
#Proporção desigual
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

#Habilitando a variável stratify (Estratificar) do sklearn para dividir treino e teste com proporção coerente

In [19]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)

In [20]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 74 elementos e testaremos com 25 elementos

In [21]:
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

In [22]:
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

In [23]:
#Proporção 2 para 1
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [24]:
#Proporção 2 para 1
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64